{% extends "base.html" %}
{% block titulo %}Home{% endblock %}
{% block principal %}

  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="/static/img/self-service.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Serviços</h2>
        <p>Oferecemos uma variedade de serviços, desde reparos de hardware até suporte técnico remoto.</p>
        <p><a class="btn btn-secondary" href="/servicos" role="button">Ver Detalhes »</a></p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="/static/img/customer-service.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Equipe Qualificada</h2>
        <p>Entre em contato conosco para obter mais informações ou agendar um serviço.</p>
        <p><a class="btn btn-secondary" href="/sobrenos" role="button">Ver Detalhes »</a></p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="/static/img/costumer.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Contato</h2>
        <p>Entre em contato conosco para obter mais informações ou agendar um serviço.</p>
        <p><a class="btn btn-secondary" href="/contato" role="button">Ver Detalhes »</a></p>
      </div>
    </div>

    <hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Manutenção Rápida e Confiável. <span>Seu computador em boas mãos!</span></h2>
    <p class="lead">Oferecemos serviços de assistência técnica especializada para garantir que seu computador funcione de maneira eficiente. Nossa equipe dedicada resolve problemas rapidamente, proporcionando a você uma experiência sem complicações.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="/static/img/imagem1.jpg" alt="Imagem de Serviços" style="width: 500px; height: 500px;">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Atendimento Personalizado. <span >Sua satisfação é nossa prioridade!</span></h2>
    <p class="lead">Acreditamos em oferecer um atendimento personalizado para entender suas necessidades específicas. Nossa abordagem centrada no cliente garante que cada problema seja tratado de maneira única, proporcionando soluções personalizadas e eficazes.</p>
  </div>
  <div class="col-md-5 order-md-1">
    <img class="featurette-image img-fluid mx-auto" src="/static/img/imagem2.jpg" alt="Imagem de Atendimento Personalizado" style="width: 500px; height: 500px;">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Tecnologia de Ponta. <span >Atualizando seu mundo digital!</span></h2>
    <p class="lead">Mantenha-se à frente com nossos serviços de atualização e otimização. Utilizamos tecnologia de ponta para garantir que seu computador esteja sempre atualizado, proporcionando um desempenho superior e uma experiência sem preocupações.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="/static/img/imagem3.jpg" alt="Imagem de Tecnologia de Ponta" style="width: 500px; height: 500px;">
  </div>
</div>

<hr class="featurette-divider">

</div>

{% endblock %}

