{% extends "base.html" %}
{% block titulo %}Sobre Nós{% endblock %}
{% block principal %}

<div class="container my-5">

    <div class="card mb-4">
        <div class="card-body">
            <h3>Quem Somos</h3>
            <p>Bem-vindo à Zamptech, a sua solução completa para assistência técnica de computadores e criação de sites! Fundada em 2023 por Felipe Zampirole, somos uma empresa comprometida em oferecer serviços de alta qualidade e soluções tecnológicas inovadoras para atender às suas necessidades de informática e presença online.</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h3>Nossa História</h3>
            <p>A história da Zamptech começou com uma paixão por tecnologia. Decididos a transformar sua paixão em uma empresa que pudesse ajudar indivíduos e empresas a aproveitar ao máximo a tecnologia.</p>
            <p>O desejo de fornecer assistência técnica de qualidade e criar sites impressionantes motivou Felipe a criar a Zamptech. Desde o início, nossa equipe se empenhou em construir uma reputação sólida no mercado, baseada em integridade, conhecimento técnico e compromisso com a excelência.</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h3>Nossa Missão</h3>
            <p>Na Zamptech, nossa missão é simplificar a tecnologia para você. Acreditamos que todos devem ter acesso a serviços de informática confiáveis e a uma presença online impressionante. Estamos empenhados em tornar a tecnologia mais acessível, eficaz e fácil de usar, proporcionando suporte técnico de qualidade e sites incríveis que atendam às suas necessidades.</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h3>Nossa Abordagem</h3>
            <p>Nossa abordagem é centrada no cliente. Entendemos que cada cliente é único, com desafios e metas específicos. Trabalhamos em estreita colaboração com você para entender suas necessidades e oferecer soluções personalizadas que atendam às suas expectativas. Seja você um usuário doméstico em busca de assistência técnica ou uma empresa que deseja destacar-se na internet, estamos aqui para ajudar.</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h3>Por Que Escolher a Zamptech</h3>
            <ul class="list-group">
                <li class="list-group-item">Serviço Personalizado: Abordamos cada projeto com atenção aos detalhes, garantindo que atendemos às suas necessidades de forma personalizada.</li>
                <li class="list-group-item">Compromisso com a Qualidade: Nossa busca constante pela excelência garante que você receba o melhor serviço possível.</li>
                <li class="list-group-item">Inovação: Acompanhamos as tendências tecnológicas mais recentes para oferecer soluções inovadoras e modernas.</li>
                <li class="list-group-item">Atendimento ao Cliente: Valorizamos o relacionamento com nossos clientes e estamos sempre disponíveis para ajudar.</li>
            </ul>
        </div>
    </div>

    <div class="jumbotron">
        <p class="lead">Seja bem-vindo à Zamptech, onde a tecnologia se encontra com o atendimento personalizado. Estamos ansiosos para ajudá-lo a ter sucesso no mundo digital.</p>
    </div>
</div>

{% endblock %}
