{% extends "base.html" %}

{% block titulo %}Excluir Fornecedor{% endblock %}

{% block principal %}
    <h1 class="display-6">Excluir Fornecedor</h1>
    <hr>
    <p class="lead">
        Deseja realmente excluir o fornecedor <b>{{ fornecedor.nome }}</b>?
    </p>
    <form method="post">
        <input type="hidden" name="id_fornecedor" value="{{ fornecedor.id }}">
        <div>
            <a href="/fornecedor" class="btn btn-success">Não</a>
            <button type="submit" class="btn btn-danger">Sim</button>
        </div>
    </form>
{% endblock %}
